.card {
    background-color: purple;
    block-size: 30vb;
    inline-size: clamp(30ch, 30vi, 50ch);
    margin-block: clamp(1rem, 5vw, 2rem);
    margin-inline: clamp(1rem, 5vw, 2rem);
}

.apiCard {
    align-items: center;
    display: flex;
}
